asgiref==3.8.1
channels==4.1.0
Django==5.0.7
django-allauth==0.63.4
django-appconf==1.0.6
django-braces==1.15.0
django-cors-headers==4.4.0
django-crispy-forms==2.2
django-debug-toolbar==4.4.6
django-extensions==3.2.3
django-filter==24.2
django-guardian==2.4.0
django-haystack==3.3.0
django-model-utils==4.5.1
django-redis==5.4.0
django-storages==1.14.4
django-versatileimagefield==3.1
django-wysiwyg==0.8.0
django_compressor==4.5
djangorestframework==3.15.2
packaging==24.1
pillow==10.4.0
python-magic==0.4.27
rcssmin==1.1.2
redis==5.0.7
rjsmin==1.2.2
sqlparse==0.5.0
