{% extends "base.html" %}

{% block body %}
<div>
  <h2>Available Brands</h2>
  <section>
    <ul>
      {% for brand in brands %}
      <li>
          <a href="{% url 'laptops_by_brand' brand.id %}">
              {{ brand.name }}
          </a>
      </li>
      {% empty %}
      <li>No brands available.</li>
      {% endfor %}
  </section>
</div>

<div>
  <h1>Laptops</h1>
  <section>
    <ul>
      {% for laptop in laptops %}
      <li>
          <a href="{% url 'laptop_detail' laptop.id %}">
              {{ laptop.name }} - {{ laptop.brand.name }}
          </a>
          <p>Model: {{ laptop.model }}</p>
          <p>Price: ${{ laptop.price }}</p>
          <p>Ratings: {{ laptop.average_rating|default:"No ratings yet" }}</p>
      </li>
      {% empty %}
      <li>No laptops available.</li>
      {% endfor %}
  </ul>  
  </section>
</div>

<div>
  <h2>Latest Laptops</h2>
  <section>
    <ul class="latest-laptops">
      {% for latest_laptop in latest %}
      <li>
          <a href="{% url 'laptop_detail' latest_laptop.id %}">
              {{ latest_laptop.name }} - {{ latest_laptop.brand }}
          </a>
          <p>Model: {{ latest_laptop.model }}</p>
          <p>Price: ${{ latest_laptop.price }}</p>
          <p>Ratings: {{ laptop.average_rating|default:"No ratings yet" }}</p>
      </li>
      {% empty %}
      <li>No latest laptops available.</li>
      {% endfor %}
  </ul>
  </section>
</div>


{% endblock %}
