{% extends 'base.html' %}
{% block main %}    
    <div class="row">
        {% for laptop in laptops %}
        <div class="col-4 p-1">
            <div class="card" style="width: 18rem;">
                <img src="{{laptop.image.url}}" width="100%" height="50%"/>
                <div class="card-body">
                    <h5 class="card-title">{{ laptop.brand }} {{laptop.model}}</h5>
                    <p class="card-text">RAM {{laptop.ram}}</p>
                    <p class="card-text">Storage {{laptop.storage}}</p>
                    <p class="card-text">Display {{laptop.display}}</p>                                        
                    <a href="#" class="btn btn-primary">More Details</a>
                    
                </div>
            </div>
        </div>            
        {% endfor %}
    </div>
{% endblock %}